set default="0"
set timeout=8

insmod all_video
insmod gfxterm
set gfxmode="auto"
terminal_output gfxterm

set ARCHISO_LABEL="%ARCHISO_LABEL%"

menuentry "TrafkTux Live/Rescue (x86_64, UEFI)" --class trafktux --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux \
        archisobasedir=%INSTALL_DIR% archisolabel=${ARCHISO_LABEL} \
        nvidia_drm.modeset=1 quiet splash
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "TrafkTux Live/Rescue (Fallback, ohne nvidia modeset/plymouth)" --class trafktux --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux \
        archisobasedir=%INSTALL_DIR% archisolabel=${ARCHISO_LABEL}
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.im
}

menuentry "TrafkTux Live/Rescue (copytoram)" --class trafktux --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux \
        archisobasedir=%INSTALL_DIR% archisolabel=${ARCHISO_LABEL} \
        nvidia_drm.modeset=1 copytoram quiet splash
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
